     body
      {
        Background-color:#E7DFD8;
        
      }
      .b
      {
        Background-color:#D6B79C;
        height:100px;
        width:100%;
        padding-top:20px;
      }
      a
      {
        color:white;
        margin:30px; 
        text-decoration:underline;
        
      }
      a:hover
      {
        color:pink;
        
      }
      ul
      {
        display:flex;
        margin:23%;
      }
      li
      {
        list-style:none;
        width:200px;
        height:40px;
        background-color:#542D0B;
        border-radius:15px;
        text-align:center;
        margin:20px;
      }
      .navigation
      {
        height:100px;
        width:100%;
        background-color:#CDC2B8;
        padding-top:20px;
      }
      #textbox1
      {
        border-radius:5px;
        background-image:url("search.png");
        background-size:20px;
        background-repeat:no-repeat;
        padding-left:23px;
        width:35%;
        margin-left:50px;
      }
      #cart
      {
        float:right;
        margin-right:20px;
        height:50px;
        width:50px;
      }
      #artlab-image
      {
        margin-left:10px;
        margin-right:20px;
        height:50px;
        width:50px;
      }
      .d
      {
        height:5px;
        width:100%;
        background-color:brown;
      }
      #carouselExampleIndicators
      {
        width:40%;
        margin-left:30%;
        height:40%;
        margin-top:5%;
      }
      .circle
      {
       height:200px;
       width:150px;
       border-radius:25%;
       margin-left:19%;
       border:1px solid black;
       background: rgb(220,138,71);
background: linear-gradient(356deg, rgba(220,138,71,1) 0%, rgba(177,114,54,1) 35%, rgba(94,76,45,1) 100%);
       Margin-top:10%;
      }
      .circle:hover
      {
        opacity:0.3;
      }
      #circle1
      {
       background-color:teal;
      }
      #circle2
      {
      background-color:pink;
      }
      #circle3
      {
      background-color:yellow;
      }
      .maincircle
      {
        display:flex;
      }
      .dropdown
      {
      width:150px;
      height:35px;
      }
      .dropdown
      {
      display:none;
      }
      .dropdown ul
      {
        display:block;
      }
      .b ul li:hover .dropdown
      {
        display:block;
      }
